<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h1 mat-dialog-title>Add user</h1>

<div class="inputs">
    <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Max ">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Mustermann">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
</div>

<div class="inputs">
    <mat-form-field appearance="outline">
        <mat-label>Birth date</mat-label>
        <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker" placeholder="1/1/2023">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Mail</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.mail" matInput placeholder="Pattern@mail.de">
        <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
</div>

<div class="inputs">
    <mat-form-field appearance="outline" class="width100">
        <mat-label>Street & House no.</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Pattern street 1">
        <mat-icon matSuffix>add_road</mat-icon>
    </mat-form-field>
</div>

<div class="inputs">
    <mat-form-field appearance="outline">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="12345 ">
        <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="New York">
        <mat-icon matSuffix>apartment</mat-icon>
    </mat-form-field>
</div>

<button type="button" mat-raised-button (click)="fileInput.click()" class="inputs">
    Choose a profile image
    <mat-icon>add_a_photo</mat-icon>
</button>
<input hidden (change)="onFileSelected()" #fileInput type="file" accept="image/png, image/jpg" (change)="saveImg()">

<div *ngIf="imgBase64" class="showImg" style="background-image: url({{imgBase64}});"></div>

<div mat-dialog-actions class="buttons">
    <button [disabled]="loading" mat-raised-button (click)="onNoClick()">Cancel</button>
    <button [disabled]="loading" mat-raised-button (click)="saveUser()" color="primary">Save</button>
</div>