<mat-card class="header">
    <mat-card-content>
        <button mat-icon-button class="menuIcon" [matMenuTriggerFor]="user">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #user="matMenu">
            <button mat-menu-item (click)="openEditUserHeaderDialog()">Edit</button>
        </mat-menu>
        <div class="imgAndName">
            <img *ngIf="!userData.img" class="profileImg" src="./assets/img/profile.png" alt="profile">
            <div *ngIf="userData.img" class="profileImg imgFound" style="background-image: url({{userData.img}});"></div>
            <div>
                <h1>{{ userData.firstName }} {{ userData.lastName }}</h1>
                <p>{{ userData.mail }}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="userInfos">
    <mat-card-content>
        <button mat-icon-button class="menuIcon" [matMenuTriggerFor]="address">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #address="matMenu">
            <button mat-menu-item (click)="openEditAddressDialog()">Edit</button>
        </mat-menu>
        <h1>Address</h1>
        <p>{{ userData.street }}</p>
        <p>{{ userData.zipCode }} {{ userData.city }}</p>
    </mat-card-content>
</mat-card>
<mat-card class="userInfos">
    <mat-card-content>
        <button mat-icon-button class="menuIcon" [matMenuTriggerFor]="birthDate">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #birthDate="matMenu">
            <button mat-menu-item (click)="openEditBirthDateDialog()">Edit</button>
        </mat-menu>
        <h1>Birth date</h1>
        <p>{{ bDay }}.{{ bMonth }}.{{ bYear }}</p>
    </mat-card-content>
</mat-card>

<div class="buttonWrapper">
    <button mat-icon-button routerLink="/user">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>edit</mat-icon>
        Edit all
    </button>
    <button mat-raised-button color="warn">
      <mat-icon>delete</mat-icon>
        Delete
    </button>
</div>