.header {
    min-height: 10rem;
    display: flex;
    justify-content: end;
    .imgAndName {
        display: flex;
        align-items: center;
        gap: 2rem;
        .profileImg {
            width: 8rem;
            border-radius: 100%;
        }
    }
}

.userInfos {
    margin: 2rem 0 0 0;
}

.menuIcon {
    position: absolute;
    right: 0;
    top: 0;
}

.imgFound {
    background-size: 100%;
    height: 8rem;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0;
}