<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <div class="sideNavContainer">Platz für logo</div>
        <div class="sideNavContainer hover" routerLink="/">
            <mat-icon>dashboard</mat-icon> Dashboard
        </div>
        <div class="sideNavContainer hover" routerLink="/user">
            <mat-icon>person</mat-icon> User
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar class="toolbar" color="primary">
            <mat-toolbar-row class="toolbarRow">
                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
                <span>Simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="routerContainer">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>