.mat-drawer-container {
    height: 100vh;
}

.sidenav {
    width: 300px;
}

.sideNavContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
    padding: 1rem;
    &.hover {
        transition: all 125ms ease-in-out;
        &:hover {
            background: rgba($color: #000000, $alpha: 0.1);
        }
    }
}

.toolbar {
    min-height: 52px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.toolbarRow {
    height: 52px;
    gap: 1rem;
}

.routerContainer {
    margin: 1rem 3rem;
}